.about-us {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-wrapper {
  width: 99%;
}

.info {
  padding: 20px;
  line-height: 30px;
  color: white;
}
