.card-container {
  padding: 10px;
  align-items: center;
  flex-direction: column;
  //   background-color: red;
  .image-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    .user-image {
      border-radius: 20px;
    }
  }
  .info-container {
    margin-top: 20px;
    .info {
      margin-top: 10px;
      img {
        padding-right: 10px;
      }
    }
  }
}
