:root {
  --primary-orange: #f9ab00;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.nav-menu-items {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  color: black;
  padding-top: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
}
