:root {
  --primary-orange: #f9ab00;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.nav-menu-items {
  font-size: 20px;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
}

.nav-menu-items:visited {
  color: #fff;
}

.nav-menu-items:active,
.nav-menu-items:hover {
  color: #fff;
  border-top: 2px solid var(--primary-orange);
}
