.user-home-container {
  padding: 30px;
  color: black;
  section {
    h3 {
      font-weight: 700;
    }
    .ncrpl {
      line-height: 30px;
      font-size: 20px;
    }
    .img-wrapper {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        border-radius: 30px;
      }
    }
  }
}
